<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mxmusic">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/backgroupiconnen"
        android:label="@string/app_name"
        android:roundIcon="@drawable/backgroupiconnen"
        android:supportsRtl="true"
        android:theme="@style/Theme.MXMusic">
        <activity
            android:name=".activity.SingerDetail"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".activity.AlbumDetail" />
        <activity android:name=".activity.MusicPlaybackScreen" >

        </activity>
        <activity android:name=".activity.LoadingScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>